@keyframes bg-clouds{
	0% { background-position: 0 30px; }
	100% { background-position: -1200px 30px;}
}
@-moz-keyframes bg-clouds 
	0% { background-position: 0 30px; }
	100% { background-position: -1200px 30px; }
}
@-webkit-keyframes bg-clouds {
	0% { background-position: 0 30px; }
	100% { background-position: -1200px 30px; }
}
@-ms-keyframes bg-clouds {
	0% { background-position: 0 30px; }
	100% { background-position: -1200px 30px; }
}
@-o-keyframes bg-clouds {
	0% { background-position: 0 30px; }
	100% { background-position: -1200px 30px; }
}
body {background: #43a9df url(../img/clouds-bg.svg) repeat-x; background-size: 1200px 200px; background-position: 0px 30px; width: 100%; height: 100%; /*animation: bg-clouds 60s linear infinite; -moz-animation: bg-clouds 60s linear infinite; -webkit-animation: bg-clouds 60s linear infinite; -ms-animation: bg-clouds 60s linear infinite; -o-animation: bg-clouds 60s linear infinite;*/}

h5 {color: #fff;}

header {margin-top: 30px;}
.header-btn {margin-top: 45px;}
#login-box {margin-top: 40px;}
.brand-logo {display: inline-block; width:140px; height: 80px; margin: 35px auto; background: url(../img/logo-w-hdr.svg) no-repeat; background-size: contain;}
nav .brand-logo {margin-top: 0;}
nav {background: transparent; box-shadow: none}
nav li {margin-left: 5px;}
#graphics {position: fixed; bottom: 0; z-index: -1; background: url(../img/login-bg.svg) no-repeat; background-size: cover; width: 100%; height: 80vh;}
.btn-flat {margin-right: 10px;}

.input-field input[type=email], .input-field input[type=password], .input-field input[type=text] {background: #fff; border: 2px solid #fff; border-radius: 5px; opacity: 0.9; padding-left: 15px;}
.input-field input[type=email]:focus , .input-field input[type=password]:focus , .input-field input[type=text]:focus {border: 2px solid #b5e2eb; border-radius: 5px;}
#register-box input[type=email], .input-field input[type=password], .input-field input[type=text] {border: 1px solid #ccc;}
#register-box .input-field input[type=email]:focus , .input-field input[type=password]:focus , .input-field input[type=text]:focus {border: 1px solid #b5e2eb;}
.input-field input[type=text].valid {border-bottom: 1px solid green; box-shadow: none;}
.input-field input[type=text].invalid {border-bottom: 1px solid red; box-shadow: none;}
#time-tracker {color: #fff; font-size: 72px; margin: 0 auto; margin-top: 70px; height: 150px; width: 350px; text-align: center; font-family: 'Rancho', cursive;}
textarea {
background-color:white;
}